# Byte-compiled / optimized / DLL files
__pycache__/
data/**
**/models/**
outputs/**
**/src/**
*.zip
.vscode
*.csv
*.Identifier
**/logs/**
**/runs/**
**/dataset/**
**/pictures/**
**/summary/**
*.keras
*.h5



# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# kaggle api
kaggle.json

!scripts/git-hooks/pre-commit
!scripts/git-hooks/
